.navbar{
    background-color: rgb(255, 198, 129);

}

.nav-item{
    font-size: 20px;
    margin: auto;
   
    
}



.authentication{
    display: flex;
    width: 300px;
    /* border: 1px solid; */
    padding: 10px;
    justify-content: space-around;
}
