.navbar{
    background-color: rgb(255, 198, 129);
    height: 200px;

}

.nav-item{
    font-size: 20px;
    margin: auto;
   
    
}
.nav-item:hover{
    text-decoration: underline;
}
.collapse{
    /* align-items: center; */
    /* width: 60%; */
    /* border: 1px solid; */
    position: absolute;
    left: 30%;
    top: 50%;
    justify-content: space-between;
    /* align-items: center; */
}
.logo{
    /* border: 1px solid; */
    align-items: center;
    position: absolute;
    left:40%;
    top: 10%;
}
.authentication{
    display: flex;
    width: 300px;
    /* border: 1px solid; */
    padding: 10px;
    justify-content: space-around;
}
