.navbar {
    background-image: linear-gradient(to right, #E67E22, #F4C430);

    height: 60px;

}

.nav-item {
    font-size: 20px;
    margin: auto;


}
.navbar-nav{
    border: 1p solid;
}
.nav-item .nav-link {
    
     margin: 0 20px;
    position: relative;
    display: inline-block;
   justify-content: space-between;
}

.nav-item .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #121211;
    /* saffron */
    transition: width 0.5s ease;
}

/* Animate on hover */
.nav-item .nav-link:hover::after {
    width: 100%;
}

.collapse {

    width: 60%;

    position: absolute;
    left: 30%;

    justify-content: space-between;

}

.logo {

    align-items: center;
    position: absolute;
    left: 5%;
    top: 1%;
}

.authentication {
    display: flex;
    width: 300px;

    padding: 10px;
    justify-content: space-around;
}