#product-card {
    height: 450px;
    width: 300px;
    overflow: hidden;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    /* light transparent */
    backdrop-filter: blur(10px);
    /* glass effect */
    -webkit-backdrop-filter: blur(10px);
    /* for Safari */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;




    img {
        object-position: center;
        object-fit: fill;
        height: 50%;
        border-radius: 5px;
        /* border: 1px solid; */
    }

    /* .description{
    border: 1px solid;
    height: 30%;
} */

}

.buttons {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;

}